# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp

# Firebase
.firebase/
firebase-debug.log
.firebaserc

# Dependencies
node_modules/
functions/node_modules/

# Build output
dist/

# Secrets
.env
.env.local
*.env.local
.gemini/